<div>
<% if reviews.rating > 4 %>
<i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star fa-2x" aria-hidden="true"></i>
<% elsif reviews.rating > 3 %>
<i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
<% elsif reviews.rating > 2 %>
<i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star-o fa-2x" aria-hidden="true"></i><i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
<% elsif reviews.rating > 1 %>
<i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star-o fa-2x" aria-hidden="true"></i><i class="fa fa-star-o fa-2x" aria-hidden="true"></i><i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
<% elsif  reviews.rating > 0 %>
<i class="fa fa-star fa-2x" aria-hidden="true"></i><i class="fa fa-star-o fa-2x" aria-hidden="true"></i><i class="fa fa-star-o fa-2x" aria-hidden="true"></i><i class="fa fa-star-o fa-2x" aria-hidden="true"></i><i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
<% end %>
<br>
<br>
 <%= reviews.description %>
<br>
<br>
Review By: <%= reviews.user.first_name %>
<br>

<% if current_user %>
<% logged_in = current_user.id %>
<% current_review = reviews.id %>
<% end %>

<br>

<% if (reviews.user.id.to_i == logged_in) %>

<%= link_to 'Delete', product_reviews_path(@product, reviews), method: :delete, data: { confirm: 'Sure you want to delete review?' }, class: 'btn btn-danger', role: 'button' %>
<% end %>
<hr>
</div>